.container{
  display: flex;
  flex-direction: colum;
  height: 100vh; 
}
.header{
  flex: 15%;
  background-color: lightgray;
}
.menu{
  flex: 5%
background-color: darkgray;
}

}
.cpntent{
  flex: 10%
  background-color: white;
}
}
.footer{ 
h1 {
  color: red;
  top-margin: 25pt 
} 
.tuade { 
  color: lavender;
  font-family: Arial;
  top-margin: 20pt;
  font-size: 20pt;
  font weight: bold;
}
.noidung {
  color: black; 
  top-margin: 6pt;
  font-size: 15pt;
  font-style:normal;
}
